{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["emotion", "jsx-a11y"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  },
  "rules": {
    "emotion/no-vanilla": "error",
    "no-unused-vars":
    ["error", { "varsIgnorePattern": "^css|tw$" }]
  }
}
