;; Graciously borrowed with much appreciation from https://github.com/borkdude/sci/blob/master/min.js.edn
{:output-to "static/cljs/sci.js"
 :output-dir "cljs/sci_wrapper"
 :optimizations :advanced
 :main "cljs.sci-wrapper"
 :aot-cache true
 :compiler-stats true
 :pretty-print  false
 :elide-asserts true
 :parallel-build true
 :checked-arrays :warn
 :static-fns true
 :fn-invoke-direct true
 :warnings {:fn-deprecated false}
 :optimize-constants true
}