@import "tailwindcss";
@config "../../tailwind.config.cjs";

@font-face {
  font-family: "shortstack";
  src: url("/fonts/shortstack-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-shortstack: "shortstack", sans-serif;
}

@layer utilities {
  /* Box sizing border box all containers */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer utilities {
  .rounded-drawn {
    border-radius: 95% 4% 92% 5% / 4% 95% 6% 95%;
  }

  .rounded-drawn-sm {
    border-radius: 64% 4% 32% 5% / 4% 15% 6% 15%;
  }
}
