@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'shortstack';
  src:
    url('/fonts/shortstack-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Box sizing border box all containers */
*, *::before, *::after {
  box-sizing: border-box;
}

@layer utilities {
  .drawn-radius {
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  }

  .drawn-radius-sm {
    border-radius: 64% 4% 32% 5%/4% 15% 6% 15%;
  }
}

