---
export interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;
---


<a
  href={href}
  class={`
  md:max-w-64
  text-stone-900
  dark:text-stone-50
  outline-none
  ring-0
  [&>h2]:focus:underline
  `}
>
  <h2 class={`
    text-2xl
    py-4
    font-shadow
    font-shortstack
    underline-stone-900 dark:underline-stone-50
  `}>{title}</h2>
  <p>
    {description}
  </p>
</a>