---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<header class={`
  bg-stone-50
  dark:bg-stone-900
  text-stone-900
  dark:text-stone-50
  w-full
  font-shortstack
  flex flex-row
  justify-center
  px-8 py-4 lg:py-8`}>
  <div class={`
    w-full
    max-w-6xl
    flex lg:flex-row flex-col
    justify-between items-center 
  `}>
    <a href="/" class="no-underline focus:underline mb-4 lg:mb-0">
      <h2 class="center text-xl">
      Snorre.io
    </h2>
    </a>
    <nav class="flex flex-row flex-wrap justify-center items-center gap-x-6 md:gap-x-8 gap-y-4 font-shortstack text-xl">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/talks">Talks</HeaderLink>
      <HeaderLink href="/beers">Beers</HeaderLink>
      <HeaderLink href="/music">Music</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/privacy">Privacy</HeaderLink>
      <div class="flex flex-row flex-nowrap gap-8">
        <HeaderLink href="https://github.com/snorremd" title="GitHub" target="_blank" ><Icon class="-mx-2 w-[1em]" name="fa6-brands:github" /></HeaderLink>
        <HeaderLink href="https://bsky.app/profile/snorre.io" title="Bluesky" target="_blank" ><Icon class="-mx-2 w-[1em]" name="fa6-brands:bluesky" /></HeaderLink>
        <HeaderLink href="/rss.xml" title="RSS Feed"><Icon class="-mx-2 w-[1em]" name="fa6-solid:square-rss" /></HeaderLink>
      </div>
    </nav>
  </div>
</header>
