---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive =
  typeof href === 'string' ? href.replace(/\/$/, "") === Astro.url.pathname.replace(/\/$/, "") : false;
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    isActive ? 'underline' : 'no-underline',
    'focus:outline-none',
    'focus:underline'
    ]} {...props}>
	<slot />
</a>

