---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class={`
  bg-stone-50
  dark:bg-stone-900
  w-full flex flex-row justify-between items-center px-8 py-4`}>
	<h2 class="center text-2xl uppercase">
		{SITE_TITLE}
	</h2>
	<nav class="flex flex-row gap-8 text-xl">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
