---
import { Comments } from "../components/comments/Comments";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    modDate?: string;
    heroImage?: string;
    atprotoURI: string;
  };
  url: string;
}

const {
  content: { title, description, pubDate, modDate, atprotoURI },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section
      slot="top"
      class="w-full flex flex-col items-center text-center text-gray-900 dark:text-gray-50"
    >
      <h1
        class="pb-4 px-4 text-5xl font-shortstack max-w-[25ch]"
      >{title}</h1>
      {
        pubDate && (
          <time class="text-stone-600 dark:text-stone-400">
            {new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        )
      }
      {
        modDate && (
          <div>
            Last updated on{" "}
            <time>
              {new Date(modDate).toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
          </div>
        )
      }
    </section>
    <article slot="content" id="blog-post" class="grid auto-cols-fr justify-start w-full max-w-3xl">
      <slot>
      </slot>
    </article>
    {atprotoURI && <div
      slot="content"
      class="grid auto-cols-fr justify-start w-full max-w-3xl mt-8">
      <Comments
        client:load
        client:only
        handle="snorre.io"
        atprotoURI={atprotoURI} />
      </div>}
</BaseLayout>

<style is:global>
  @reference "tailwindcss";
  @reference "../styles/global.css";

  #blog-post {
    @apply text-stone-900 dark:text-stone-50 w-full;

    h1, h2, h3, h4, h5, h6 {
      @apply font-shortstack;
      margin: 1em 0 0.5em;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5 {
      @apply text-lg;
    }

    p {
      margin: 1em 0 0.5em;
    }

    pre {
      @apply rounded-lg mx-0 my-4 px-4 py-8 drop-shadow max-w-full self-center;

    }

    img  {
      @apply rounded-lg drop-shadow self-center inline-flex;
    }

    Image {
      @apply w-fit justify-self-center;
    }

    a {
      @apply underline underline-offset-2 font-shortstack;
    }


    ul {
      max-width: 70ch;

    }

    li {
      @apply list-disc ml-4;
    }

    blockquote {
      @apply border-l-4 border-stone-600 dark:border-stone-400 pl-4 my-4;
      p {
        @apply my-0;
      }
    }


  }
</style>
