---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    modDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, modDate, heroImage },
} = Astro.props;

const dateFormatConfig = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
---


<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

  </head>

  <body class="min-w-full">
    <div class="min-w-full flex flex-col items-center ">
      <Header />
      <main class="flex flex-col items-center w-full bg-stone-50 dark:bg-stone-900">
        <article class="min-w-full">
          <header class={`
          min-w-full bg-layered-waves-light dark:bg-layered-waves-dark bg-no-repeat bg-bottom pt-8 px-8 pb-52 w-full text-center flex flex-col items-center
          `}>
          {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
          <h1 class="title text-center text-6xl">{title}</h1>
          {
            pubDate && (
              <time>
                {new Date(pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            )
          }
          {
            modDate && (
              <div>
                Last updated on{" "}
                <time>
                  {new Date(modDate).toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
              </div>
            )
          }
          </header>
          <div class={`bg-stone-200 dark:bg-stone-800
          flex flex-col items-center`}>
          <div class={`
            max-w-4xl
            px-8`}>
            <slot />
          </div>
          </div>
        </article>
      </main>
      <Footer />
    </div>

  </body>
  
</html>

<style>
  :global(a) {
      @apply underline underline-offset-2;
  }

  :global(img) {
    @apply rounded-lg;
  }

</style>